.table-cell {
    -fx-alignment: CENTER;
}

.valido {
    -fx-text-box-border: green;
    -fx-focus-color: green;
    -fx-control-inner-background: lightgreen;
}

.invalido{
    -fx-text-box-border: red;
    -fx-focus-color: red;
    -fx-control-inner-background: pink;
}
